In [20]:
'''Importamos librerías'''
'''crear dataframes'''
import pandas as pd
'''Categoría principal para las advertencias que se activan durante el proceso de importación de un módulo (se ignoran por defecto).'''
import warnings
'''Nunca imprima advertencias coincidentes'''
warnings.filterwarnings("ignore")

In [21]:
'''Cargamos el dataset, y separamos las columnas del dataset con el separador sep=';' '''
df= pd.read_csv('data_act_01.csv', sep=';')
'''Visualización de las primeras 5 líneas del contenido del dataset'''
df.head()

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection

In [22]:
'''Visualización del contenido del dataset'''
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10051 entries, 0 to 10050
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CrimeId                10051 non-null  int64
 1   OriginalCrimeTypeName  10051 non-null  object
 2   OffenseDate            10051 non-null  object
 3   CallTime               10051 non-null  object
 4   CallDateTime           10051 non-null  object
 5   Disposition            10051 non-null  object
 6   Address                10051 non-null  object
 7   City                   9730 non-null   object
 8   State                  10048 non-null  object
 9   AgencyId               10051 non-null  object
 10  Range                  0 non-null      float64
 11  AddressType            10051 non-null  object
dtypes: float64(1), int64(1), object(10)
memory usage: 942.4+ KB

In [23]:
'''Sumamos todos los valores perdidos del objeto df y muestra una lista con el total de valores perdidos por columna'''
df.isnull().sum().sort_values(ascending=False)

Range                    10051
City                       321
State                        3
CrimeId                      0
OriginalCrimeTypeName        0
OffenseDate                  0
CallTime                     0
CallDateTime                 0
Disposition                  0
Address                      0
AgencyId                     0
AddressType                  0
dtype: int64

## Error 1: Datos duplicados.

Se ha filtrado el atributo CrimeId, puesto que es único para cada registro y no pueden existir dos iguales.

In [24]:
"""Verificamos los datos duplicados de la columna CimenI"""
df[df.duplicated(subset=['CrimeId'], keep=False)]

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
26,160913455,Vandalism,2016-03-31T00:00:00,20:53,2016-03-31T20:53:00,ND,1600 Block Of Sunnydale Av,San Francisco,CA,1,NaN,Premise Address
1707,160913455,Susp,2016-04-01T00:00:00,18:29,2016-04-01T18:29:00,GOA,Geary St/larkin St,San Francisco,CA,1,NaN,Intersection
3792,160913455,Passing Call,2016-04-02T00:00:00,17:11,2016-04-02T17:11:00,Not recorded,900 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
7045,160950496,Passing Call,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,HAN,University St/felton St,San Francisco,CA,1,NaN,Intersection
7046,160950496,Suspicious Vehicle,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,ND,1400 Block Of Cabrillo St,San Francisco,CA,1,NaN,Premise Address
7047,160950496,Trespasser,2016-04-04T00:00:00,6:51,2016-04-04T06:51:00,CAN,Block Of Hampshire St,San Francisco,CA,1,NaN,Premise Address

In [25]:
df.duplicated('CrimeId').sum()

4

In [26]:
'''Eliminamos datos duplicados'''
df.drop([1707,3792,7045,7046,7047], axis=0, inplace=True)
df

,CrimeId,OriginalCrimeTypeName,OffenseDate,CallTime,CallDateTime,Disposition,Address,City,State,AgencyId,Range,AddressType
0,160903280,Assault / Battery,2016-03-30T00:00:00,18:42,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,NaN,Premise Address
1,160912272,Homeless Complaint,2016-03-31T00:00:00,15:31,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
2,160912590,Susp Info,2016-03-31T00:00:00,16:49,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,NaN,Premise Address
3,160912801,Report,2016-03-31T00:00:00,17:38,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,NaN,Premise Address
4,160912811,594,2016-03-31T00:00:00,17:42,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,NaN,Intersection
...,...,...,...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T00:00:00,23:38,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,NaN,Intersection
10047,160964216,Traffic Stop,2016-04-05T00:00:00,23:43,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,NaN,Intersection
10048,160964227,Traffic Stop,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,NaN,Intersection
10049,160964229,Passing Call,2016-04-05T00:00:00,23:48,2016-04-05T23:48:00,Not recorded,0 Blk Herbst Rd,San Francisco,CA,1,NaN,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T00:00:00,23:54,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,NaN,Intersection

## Error 2: Tipo de datos.

En la segunda columna OriginalCrimeTypeName aparecen varios registroscon valor numérico, con asteriscos o bien con una X, pueden generar unaerror por tipo de datos, puesto que el valor de la celda debe ser tipo texto.

**Solución**

Eliminar los números en la columnaOriginalCrimeTypeName y sustituirlos por la cadena de texto correcta.

## Error 3: Valores no registrados o "Not recorded"".

En la sexta columna llamada Disposition aparecen datos que no han sidoregistrados pudiendo generar errores futuros a la hora de importar la base de datos

**Solución:**

 1.Eliminar los registros que no tengan registrado este dato, aunque
 esta no sería la más eficaz ni la más adecuada.
 
 2.Usar una función  para reemplazar aquellas celdas que aparecen como "Not recorded" por la cadena de texto correcta para cada registro.

In [27]:
'''Calcula el tamaño de la columna disposition'''
df.groupby('Disposition').size()

Disposition
22                77
ABA               97
ADM               48
ADV             1142
ARR               65
CAN              352
CIT             1425
CRT                2
GOA             1272
HAN             2819
INC               17
NCR               82
ND               426
NOM              324
Not recorded     542
PAS              170
REP              800
SFD                1
UTL              385
dtype: int64

In [28]:
'''De la columna Disposition, verificamos el valor que más se repite, con la moda'''
df.Disposition.mode()

0    HAN
Name: Disposition, dtype: object

In [29]:
'''Reemplazamos en la columna Disposition la etiqueta 22 a HAN, que es el valor que más se repite'''
df.loc[df.Disposition=='22','Disposition']='HAN'

In [30]:
'''Reemplazamos en la columna Disposition la etiqueta Not recorded a HAN, que es el valor que más se repite'''
df.loc[df.Disposition=='Not recorded','Disposition']='HAN'

In [31]:
'''Verificamos que los valores se remplancen'''
df.groupby('Disposition').size()

Disposition
ABA      97
ADM      48
ADV    1142
ARR      65
CAN     352
CIT    1425
CRT       2
GOA    1272
HAN    3438
INC      17
NCR      82
ND      426
NOM     324
PAS     170
REP     800
SFD       1
UTL     385
dtype: int64

## Error 4 y 5: Redundancia de datos y  Columnas redundantes.

Las columnas 3 y 4, OffenseDate y CallTime respectivamente, contienen lamisma información, pero separada, que la columna 5 llamadaCallDateTime. En el caso de que el archivo CSV fuese muy grande, tomaría más memoria y tiempo de CPU para los cálculos y procesamiento de datos.

La sexta columna llamada Range no es necesaria y puede ser eliminada ya que es una columna vacía y que no contiene ningún tipo de información.

**Solución**

Para esta actividad la mejor solución sería eliminar las columas 3 y 4,puesto que la información ya estaría en la columna 5 y estaría duplicada,provocando una redundancia de datos.

In [32]:
'''Elimina la columna 3 y 4, debido a que tienen la misma información que la columna 5'''

df.drop(['OffenseDate', 'CallTime','Range'], axis=1, inplace=True)
df

,CrimeId,OriginalCrimeTypeName,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
...,...,...,...,...,...,...,...,...,...
10046,160964210,Well Being Check,2016-04-05T23:38:00,GOA,Hollister Av/hawes St,San Francisco,CA,1,Intersection
10047,160964216,Traffic Stop,2016-04-05T23:43:00,ADV,California St/mason St,San Francisco,CA,1,Intersection
10048,160964227,Traffic Stop,2016-04-05T23:48:00,CIT,Rosella Ct/onondaga Av,San Francisco,CA,1,Intersection
10049,160964229,Passing Call,2016-04-05T23:48:00,HAN,0 Blk Herbst Rd,San Francisco,CA,1,Geo-Override
10050,160964249,Traffic Stop,2016-04-05T23:54:00,ADV,Grant Av/geary St,San Francisco,CA,1,Intersection

## Error 5: Celdas vacías sin información

En la columna 8 llamada City, se encuentran registros en los cuales no existen ningún tipo de información y las celdas están vacías.

**Solución**

1.Eliminar los registros que no tengan registrado este dato, aunque esta no sería la más eficaz ni la más adecuada

2.Usar una función para sustituir aquellas celdas quea parecen vacías por la cadena de texto correcta para cada registro.

In [33]:
'''Reemplazo de valores Nulos columna City'''
df["City"].fillna( method ='ffill', inplace = True) 
df.head(20)

,CrimeId,OriginalCrimeTypeName,CallDateTime,Disposition,Address,City,State,AgencyId,AddressType
0,160903280,Assault / Battery,2016-03-30T18:42:00,REP,100 Block Of Chilton Av,San Francisco,CA,1,Premise Address
1,160912272,Homeless Complaint,2016-03-31T15:31:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
2,160912590,Susp Info,2016-03-31T16:49:00,GOA,2300 Block Of Market St,San Francisco,CA,1,Premise Address
3,160912801,Report,2016-03-31T17:38:00,GOA,500 Block Of 7th St,San Francisco,CA,1,Premise Address
4,160912811,594,2016-03-31T17:42:00,REP,Beale St/bryant St,San Francisco,CA,1,Intersection
5,160913003,Ref'd,2016-03-31T18:29:00,GOA,16th St/pond St,San Francisco,CA,1,Intersection
6,160913050,Homeless Complaint,2016-03-31T18:43:00,ADV,Berwick Pl/harrison St,San Francisco,CA,1,Intersection
7,160913056,Homeless Complaint,2016-03-31T18:47:00,HAN,Florida St/mariposa St,San Francisco,CA,1,Intersection
8,160913078,Agg Assault / Adw Dv,2016-03-31T18:52:00,ND,100 Block Of Genebern Wy,San Francisco,CA,1,Premise Address
9,160913103,Encampment,2016-03-31T18:57:00,ADV,2700 Block Of Folsom St,San Francisco,CA,1,Premise Address
10,160913118,Burglary,2016-03-31T18:59:00,REP,400 Block Of Mission St,San Francisco,CA,1,Premise Address
11,160913148,Suspicious Person,2016-03-31T19:08:00,GOA,700 Block Of Eddy St,San Francisco,CA,1,Premise Address
12,160913167,Ip,2016-03-31T19:13:00,HAN,1700 Block Of Harrison St,San Francisco,CA,1,Common Location
13,160913193,Homeless Complaint,2016-03-31T19:18:00,GOA,1800 Block Of Market St,San Francisco,CA,1,Premise Address
14,160913249,Homeless Complaint,2016-03-31T19:37:00,ADV,0 Block Of Elgin Pk,San Francisco,CA,1,Premise Address
15,160913265,Homeless Complaint,2016-03-31T19:40:00,HAN,Vine Tr/pine St,San Francisco,CA,1,Intersection
16,160913266,Encampment,2016-03-31T19:41:00,HAN,1600 Block Of 15th St,San Francisco,CA,1,Premise Address
17,160913285,Arrest Made,2016-03-31T19:49:00,ARR,Jones St/golden Gate Av,San Francisco,CA,1,Intersection
18,160913298,Tent,2016-03-31T19:54:00,ADV,100 Block Of South Van Ness Av,San Francisco,CA,1,Premise Address
19,160913309,Intoxicated Person,2016-03-31T19:57:00,HAN,300 Block Of Ofarrell St,San Francisco,CA,1,Premise Address

In [34]:
'''Verificamos los valores perdidos'''
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    3
AgencyId                 0
AddressType              0
dtype: int64

In [35]:
'''Rellenamos los espacios vacios'''
df.fillna(method='ffill', inplace=True)

In [36]:
'''Verificamos los valores perdidos'''
df.isnull().sum()

CrimeId                  0
OriginalCrimeTypeName    0
CallDateTime             0
Disposition              0
Address                  0
City                     0
State                    0
AgencyId                 0
AddressType              0
dtype: int64

In [38]:
'''Con la limpieza de datos creamos un arichivo Json'''
df.to_json('Data.json', orient='records', lines=True)